.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.headline-background {
  background-color: rgb(238, 238, 238);
}

.company-details-background {
  background-color: white;
}

.headline,
.company-details-container {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.headline .image,
.company-details-container .image {
  width: 35%;
  object-fit: cover;
}

.headline .header {
  color: black;
  line-height: 1.1;
  font-size: 30px;
}

.headline .details,
.company-details-container .details {
  color: black;
  font-weight: 300;
  font-size: 20px;
}

.headline .text,
.company-details-container .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.certifications {
  margin: 40px 0;
  display: flex;
  align-items: flex-end;
}

.certification i {
  font-size: 45px;
}

.certification img {
  width: 50px;
}

.certification {
  flex: 1;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.core-values-header,
.faqs-header {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin: 30px 0;
}

.horizontal-divider {
  height: 1px;
  background-color: gray;
}

.core-values-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.core-values {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.core-value {
  height: 300px;
  flex: 1;
  background-color: rgb(238, 238, 238);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.core-value p,
.answer p {
  color: black;
  font-weight: 300;
  font-size: 18px;
}

.core-value p {
  padding: 25px;
}

.faqs-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.faq {
  padding: 25px;
  border-radius: 18px;
  background-color: rgb(238, 238, 238);
  color: black;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.question p {
  font-weight: 500;
  font-size: 24px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 12px;
  line-height: 1.6;
}

.faq.active .answer {
  max-height: 500px; 
  animation: fade 1s ease-in-out;
}

.faq.active .arrow {
  transform: rotate(225deg);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5.7px;
  height: 15px;
  transform: rotate(45deg);
  transition: transform 0.5s ease-in;
}

/* adding the fade in effect for faqs */
@keyframes fade  {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.faq:hover {
  box-shadow: 0px 0px 5px 2px rgba(138, 138, 138, 0.75);
  cursor: pointer;
}

.team {
  /* use a grid instead..... */
  display: flex;
  flex-wrap: wrap;
}

.person-card {
  flex: 1;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1040px) {
  .headline .header {
    font-size: 26px;
  }

  .headline .details,
  .company-details-container .details {
    font-size: 17px;
  }

  .core-values {
    flex-wrap: wrap;
  }

  .core-value {
    flex: initial;
    width: 47%;
  }
}

@media (max-width: 910px) {
  .headline,
  .company-details-container {
    flex-direction: column;
  }

  .certifications {
    flex-wrap: wrap;
  }

  .certification {
    flex: initial;
    width: 50%;
    margin-bottom: 35px;
  }

  .certification img {
    width: 36px;
  }

  /* Change the orders so that the text is shown above the image */
  .headline .text,
  .company-details-container .text {
    order: 0;
  }

  .headline .image,
  .company-details-container .image {
    order: 1;
    width: 100%;
  }
}

@media (max-width: 760px) {
  .core-value {
    width: 100%;
  }
}
