.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.headline-background {
  background-color: rgb(238, 238, 238);
}

.company-details-background {
  background-color: white;
}

.headline,
.company-details-container {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.headline .image,
.company-details-container .image {
  width: 35%;
  object-fit: cover;
}

.headline .header {
  color: black;
  line-height: 1.1;
  font-size: 30px;
}

.headline .details,
.company-details-container .details {
  color: black;
  font-weight: 300;
  font-size: 20px;
}

.headline .text,
.company-details-container .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.certifications {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
}

.certification i {
  font-size: 45px;
}

.certification img {
  width: 50px;
}

.certification {
  flex: 1;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.certification-number {
  font-size: 26px;
}

.section-header {
  color: black;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.summary-details,
.section-details {
  color: black;
  font-weight: 300;
  font-size: 21px;
  margin: 12px 0;
}

.horizontal-divider {
  height: 1px;
  background-color: gray;
}

.core-values-container {
  width: 90%;
  margin: 0 auto;
}

.core-values {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.core-value {
  height: 300px;
  flex: 1;
  background-color: rgb(238, 238, 238);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.core-value-text {
  color: black;
  font-weight: 300;
  font-size: 18px;
  padding: 25px;
}

.team {
  /* use a grid instead..... */
  display: flex;
  flex-wrap: wrap;
}

.person-card {
  flex: 1;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1040px) {
  .headline .header {
    font-size: 26px;
  }

  .headline .details,
  .company-details-container .details {
    font-size: 17px;
  }

  .core-values {
    flex-wrap: wrap;
  }

  .core-value {
    flex: initial;
    width: 47%;
  }
}

@media (max-width: 910px) {
  .headline,
  .company-details-container {
    flex-direction: column;
  }

  .certifications {
    flex-wrap: wrap;
  }

  .certification {
    flex: initial;
    width: 50%;
  }

  .certification img {
    width: 36px;
  }

  /* Change the orders so that the text is shown above the image */
  .headline .text,
  .company-details-container .text {
    order: 0;
  }

  .headline .image,
  .company-details-container .image {
    order: 1;
    width: 100%;
  }
}

@media (max-width: 760px) {
  .core-value {
    width: 100%;
  }
}
