body {
  color: white;
  font-family: Roboto, Arial;
  font-weight: 500;
  margin: 0px;
}

p {
  margin: 0px;
}

button {
  color: white;
  font-family: Roboto, Arial;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: white;
  font-family: Roboto, Arial;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

a:hover {
  text-decoration: none;
}
