.services-header-details {
  font-size: 40px;
  padding: 0 50px;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.services-header .header {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 38px;
}

.services-header .details {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.service.gray {
  background-color: rgb(238, 238, 238);
}

.service.white {
  background-color: white;
}

.service-contents {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.service .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text .header {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 32px;
}

.text .details {
  color: black;
  font-weight: 300;
  font-size: 20px;
}

.service .img {
  width: 35%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .service.gray .service-contents {
    flex-direction: column-reverse;
  }

  .service.white .service-contents {
    flex-direction: column;
  }

  .service .img {
    width: 100%;
  }
}

@media (max-width: 725px) {
  .services-header-details {
    font-size: 22px;
  }
}