{% extends "layout.html" %}

{% block head %} 
  <title>About</title>
  <link rel="stylesheet" href="static/css/about.css">
{% endblock %}

{% block header_image %}home2.jpg{% endblock %}
{% block header_overlay_text %}ABOUT{% endblock %}

{% block main %}
  <div class="about">
    <div class="section gray">
      <div class="headline">
        <img class="image" src="static/images/acero-harvest-6.jpg">
  
        <div class="text">
          <!-- <h2 style="color: black;">We believe that your establishments exterior is the ultimate first impression.</h2> -->
          <p class="header">We believe that your establishments exterior is the ultimate first impression.</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
          <!-- <p class="headline-details">It isn't enough to just get the job done, we want you to </p> -->
          <!-- <p class="headline-details">We are constantly taking OSHA classes to ensure </p> -->
        </div>
      </div>
    </div>

    <div class="section white">
      <div class="company-details-container">
        <div class="text">
          <p class="details">We pride ourselves in being prompt, reliable, and schedule oriented.</p>
          <!-- <p class="headline-details"></p> -->
          <p class="details">Although our main services include stucco, siding, stone and brick veneer,  whatever service you are in need of, let us know and we'll see if we can make it happen.</p>
          <p class="details">Although we are based in the valley, we do work anywhere in Arizona, and even </p>
          <p class="details">We are constantly taking OSHA classes </p>
          <!-- <p style="color: black;">At American Eagle Stucco, we value our high quality of work.</p> -->
          <!-- <p style="color: black;"></p> -->
        </div>

        <img class="image" src="static/images/acero-harvest-3.jpg">
      </div>
    </div>

    <div class="section gray">
      <div class="team">
        <img class="image" src="static/images/about.jpeg">

        <div class="text">
          <p class="header">The Team</p>
          <p class="details">At American Eagle Stucco, we have 4 generations and over 50 years of experience in the stucco business. </p>
        </div>
      </div>
    </div>

    <div class="core-values-container">
      <!-- <p class="core-values-header">What we believe in</p> -->
      <p class="core-values-header">Core Values</p>

      <div class="core-values">
        <div class="core-value">
          <p class="header">Safety</p>
          <p class="details">One of our top priorites is safety. As a team we are constantly taking OSHA classes to ensure a safe work environment.</p>
        </div>

        <div class="core-value">
          <p class="header">Integrity</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
        </div>

        <div class="core-value">
          <p class="header">Excellence</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right. more blabnerl hblahj lajer lkwj kljs </p>
        </div>
      </div>
    </div>

    <div class="faqs-container">
      <p class="faqs-header">FAQs</p>

      <div class="faqs">
        <div class="faq">
          <div class="question">
            <p>What is stucco?</p>
  
            <i class="arrow"></i>
          </div>
  
          <div class="answer">
            <p>Stucco is a construction material made from a mixture of water, aggregates, and a binder. It's applied wet and hardens into a dense solid. Stucco is applied to the exterior of buildings. It's texture can vary from smooth to highly textured.</p>
          </div>
        </div>
  
        <div class="faq">
          <div class="question">
            <p>Why use stucco over other materials?</p>
  
            <i class="arrow"></i>
          </div>
  
          <div class="answer">
            <p>Stucco is very durable. It's resistent to fire, rot, mold, impact, and termite infestation. Because of it's durability, stucco is also very sustainable, lasting as long as 100 years or more. In addition, stucco also boasts great appearance and offers unlimited customization as the finish can be anything from smooth to highly textured.</p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <p>What areas do we service?</p>
  
            <i class="arrow"></i>
          </div>
  
          <div class="answer">
            <p>Although we are based in the valley, we also service the rest of Arizona, and even other states and countries. If you are in need of service outside of Arizona, please give us a call or fill out the contact form in the "Contact Us" page with the details of your project so we can confirm it's within our ranges.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="certifications">
      <div class="certification">
        <img src="static/images/license-icon.png">
        <p>Licensed</p>
      </div>

      <div class="certification">
        <img src="static/images/bonded-icon.png">
        <p>Bonded</p>
      </div>

      <div class="certification">
        <img src="static/images/insurance-icon.png">
        <p>Insured</p>
      </div>

      <div class="certification">
        <img src="static/images/certified-icon.png">
        <p>OSHA certified</p>
      </div>
    </div>
  </div>
{% endblock %}
