{% extends "layout.html" %}

{% block head %} 
  <title>About</title>
  <link rel="stylesheet" href="static/css/about.css">
{% endblock %}

{% block header_image %}home2.jpg{% endblock %}
{% block header_overlay_text %}ABOUT{% endblock %}

{% block main %}
  <!-- <h2 style="color: black;">We understand that your establishments exterior is the first thing anyone sees.</h2> -->
  <h2 style="color: black;">We believe that your establishments exterior is the ultimate first impression.</h2>
  <p style="color: black;">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work.</p>
  <p style="color: black;">At American Eagle Stucco, we value our high quality of work.</p>
  <div class="certifications">
    <div class="certification">
      <img src="static/images/license-icon.png">
      <!-- <i class="fa-regular fa-id-card"></i> -->
      <p>Licensed</p>
    </div>

    <div class="certification">
      <!-- <i class="fa-solid fa-file-contract"></i> -->
      <img src="static/images/bonded-icon.png">
      <p>Bonded</p>
    </div>

    <div class="certification">
      <img src="static/images/insurance-icon.png">
      <p>Insured</p>
    </div>

    <div class="certification">
      <img src="static/images/certified-icon.png">
      <!-- <i class="fa-regular fa-id-card"></i> -->
      <p>OSHA certified</p>
    </div>
  </div>

  <div class="about">
    <div class="about-summary">
      <p class="summary-details">At American Eagle Stucco, we value our high quality of work.</p>
      <p class="summary-details">detail 2</p>
    </div>

    <div class="about-section">
      <p class="section-header">OUR MISSION</p>
      <p class="section-details">section details</p>
    </div>
    
    <div class="horizontal-divider"></div>

    <div class="about-section">
      <p class="section-header">OUR FOCUS</p>
      <p class="section-details">section details</p>
    </div>

    <div class="horizontal-divider"></div>

    <div class="about-section">
      <p class="section-header">MEET THE TEAM</p>

      <div class="team">
        <div class="person-card">
          <img src="static/images/person.jpg">
        </div>
  
        <div class="person-card">
  
        </div>
  
        <div class="person-card">
  
        </div>

        <div class="person-card">
  
        </div>

        <div class="person-card">
  
        </div>

        <div class="person-card">
  
        </div>
      </div>
    </div>
  </div>
{% endblock %}
