{% extends "layout.html" %}

{% block head %}
  <title>Contact Us - American Eagle Stucco</title>   
  <meta name="description" content="Contact us. Residential, commercial, and retail stucco and EIFS contractor in Arizona. High quality work. Four generations and over 50 years of experience. Give us a call today!">
  <link rel="stylesheet" href="static/css/contact-us.css">
{% endblock %}

{% block header_image %}contact-us.jpg{% endblock %}
{% block header_overlay_text %}CONTACT US{% endblock %}

{% block main %}
  <div class="contact-us">
    <div class="text">
      <h2>Give us a call!</h2>
      <h4>For a free estimate or for any other inquiries, give us a call today!</h4>
    </div>

    <div class="contact-details">
      <div class="detail">
        <i class="fas fa-map-marker-alt"></i>
        <p class="detail-title">Address</p>
        <a class="detail-link" target="_blank" href="https://www.google.com/maps/dir/?api=1&destination=33.60818602489733, -111.71974900973768">16719 E Palisades Blvd #102 Fountain Hills, AZ 85268</a>
      </div>

      <div class="detail">
        <i class="fas fa-phone-alt"></i>
        <p class="detail-title">Phone</p>
        <a href="tel:4808375997" class="detail-link">480-837-5997</a>
      </div>
    </div>

    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.8911215853786!2d-111.72187604395566!3d33.608129363894925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b988ed4c0c9e3%3A0xb6b87cd1782acd81!2s16719%20E%20Palisades%20Blvd%2C%20Fountain%20Hills%2C%20AZ%2085268!5e0!3m2!1sen!2sus!4v1717084811927!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
{% endblock %}