{% extends "layout.html" %}

{% block head %}
  <meta name="description" content="Residential, commercial, and retail stucco and EIFS contractor in Phoenix, Arizona. High quality work. Four generations and over 50 years of experience. Give us a call or email today!">
  <meta name="keywords" content="stucco, Arizona stucco, EIFS, panels, panelization, brick, stone, veneer, stucco repair, contractor, Arizona stucco contractor">
  <title>American Eagle Stucco</title>
  <link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block main %} 
  <div class="company-description">
    <p class="description-header">Construction work in Phoenix, Arizona</p>
    <p class="description-details">We are a dedicated team of skilled workers, that has 4 generations of experience working with residential, commercial, and retail sites in Phoenix, Arizona.</p>
  </div>

  <div class="enticement-container">
    <div class="about">
      <a class="about-image-href" href="/about"><img class="about-image" src="static/images/acero-hawes-5.jpg"></a>

      <div class="about-description">
        <a class="about-button" href="/about">ABOUT</a>
        <p class="about-details">Find out about our organization, our methods, and the results of our dedication and hard work.</p>
        <a class="about-link" href="/about">Learn more <i class="arrow-right"></i></a>
      </div>
    </div>

    <div class="take-action">
      <a class="take-action-image-href" href="/contact-us" ><img class="take-action-image" src="static/images/acero-harvest-3.jpg"></a>

      <div class="take-action-description">
        <a class="take-action-button" href="/contact-us">TAKE ACTION</a>
        <p class="take-action-details">Ready to take the next step? Contact us with your project and we will provide a high quality solution. </p>
        <a class="take-action-link" href="/contact-us">Contact us <i class="arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
