{% extends "layout.html" %}

{% block head %}
  <title>American Eagle</title>
  <link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block main %} 
  <div class="company-description">
    <p class="description-header">Construction work in Phoenix, Arizona</p>
    <p class="description-details">American Eagle is a dedicated team of skilled workers, that has been building and renovating homes, historical buildings, and commercial sites in Phoenix, Arizona for 4 generations.</p>
  </div>

  <div class="enticement-container">
    <div class="about">
      <img class="about-image" src="static/images/about.jpeg">
      <a class="about-button" href="/about">ABOUT</a>
      <p class="about-details">Find out about our organisation, our methods, and the results of our dedication and hard work.</p>
    </div>

    <div class="take-action">
      <img class="take-action-image" src="static/images/take-action.jpeg">
      <a class="take-action-button" href="/about">TAKE ACTION</a>
      <p class="take-action-details">Ready to take the next step? Contact us with your project and we will provide a high quality solution. </p>
    </div>
  </div>
{% endblock %}
