{% extends "layout.html" %}

{% block head %}
  <title>American Eagle</title>
  <link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block main %} 
  <div class="company-description">
    <p class="description-header">Construction work in Phoenix, Arizona</p>
    <p class="description-details">American Eagle Stucco is a dedicated team of skilled workers, that has 4 generations of experience working with residential, commercial, and retail sites in Phoenix, Arizona.</p>
  </div>

  <div class="enticement-container">
    <div class="about">
      <img class="about-image" src="static/images/about.jpeg">

      <div class="about-description">
        <a class="about-button" href="/about">ABOUT</a>
        <p class="about-details">Find out about our organization, our methods, and the results of our dedication and hard work.</p>
        <a class="about-link" href="/about">Learn more <i class="arrow-right"></i></a>
      </div>
    </div>

    <div class="take-action">
      <img class="take-action-image" src="static/images/take-action.jpeg">

      <div class="take-action-description">
        <a class="take-action-button" href="/contact-us">TAKE ACTION</a>
        <p class="take-action-details">Ready to take the next step? Contact us with your project and we will provide a high quality solution. </p>
        <a class="about-link" href="/contact-us">Contact us <i class="arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
