{% extends "layout.html" %}

{% block head %}
  <title>Projects - American Eagle Stucco</title>   
  <meta name="description" content="Residential, commercial, and retail stucco and EIFS contractor in Arizona. We are a rapidly growing company with lots of ongoing and completed projects. We take pride in our high quality work. Give us a call today!">
  <link rel="stylesheet" href="static/css/projects.css">
{% endblock %}

{% block header_image %}projects.jpg{% endblock %}
{% block header_overlay_text %}PROJECTS{% endblock %}

{% block main %}
  <div class="projects">
    <div>
      <p class="projects-summary">We do residential, commercial, and retail work. Not only do we service the valley, we also offer our services across all of arizona, other states, and even other countries.</p>
      <p class="projects-summary">With four generations of experience, we pride ourselves in our quality work. </p>
      <p class="projects-summary">As we are a rapidly growing company, these are just a few of our many projects.</p>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">TACO BELL, SURPRISE</p>
        <p class="project-details">Fast food restaurant in Surprise, Arizona.</p>
      </div>

      <div id="carousel13" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel13" data-slide-to="0" class="active"></li>
          <li data-target="#carousel13" data-slide-to="1"></li>
          <li data-target="#carousel13" data-slide-to="2"></li>
          <li data-target="#carousel13" data-slide-to="3"></li>
          <li data-target="#carousel13" data-slide-to="4"></li>
          <li data-target="#carousel13" data-slide-to="5"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/taco-bell-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/taco-bell-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/taco-bell-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/taco-bell-4.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/taco-bell-5.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/taco-bell-6.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel13" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel13" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">ACERO HAWES, MESA</p>
        <p class="project-details">Apartment complex in Mesa, Arizona.</p>
      </div>

      <div id="carousel1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel1" data-slide-to="1"></li>
          <li data-target="#carousel1" data-slide-to="2"></li>
          <li data-target="#carousel1" data-slide-to="3"></li>
          <li data-target="#carousel1" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/acero-hawes-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-hawes-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-hawes-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-hawes-4.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-hawes-5.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel1" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel1" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">RILI-B'S, QUEEN CREEK</p>
        <p class="project-details">Taco shop in Queen Creek, Arizona.</p>
      </div>

      <div id="carousel8" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel8" data-slide-to="0" class="active"></li>
          <li data-target="#carousel8" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/taco-shop-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/taco-shop-2.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel8" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel8" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">RIO RETREAT CENTER, WICKENBURG</p>
        <p class="project-details">Retreat center in Wickenburg, Arizona.</p>
      </div>

      <div id="carousel11" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel11" data-slide-to="0" class="active"></li>
          <li data-target="#carousel11" data-slide-to="1"></li>
          <li data-target="#carousel11" data-slide-to="2"></li>
          <li data-target="#carousel11" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/rio-retreat-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/rio-retreat-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/rio-retreat-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/rio-retreat-4.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel11" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel11" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">WOODSPRING SUITES, MESA</p>
        <p class="project-details">Hotel in Mesa, Arizona.</p>
      </div>

      <div id="carousel6" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel6" data-slide-to="0" class="active"></li>
          <li data-target="#carousel6" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/Woodspring-hotel-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/Woodspring-hotel-2.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel6" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel6" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">EOS FITNESS, MESA</p>
        <p class="project-details">Gym in Mesa, Arizona.</p>
      </div>

      <div id="carousel2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel2" data-slide-to="1"></li>
          <li data-target="#carousel2" data-slide-to="2"></li>
          <li data-target="#carousel2" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/eos-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/eos-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/eos-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/eos-4.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel2" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel2" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">ACERO HARVEST, QUEEN CREEK</p>
        <p class="project-details">Apartment complex in Queen Creek, Arizona.</p>
      </div>

      <div id="carousel3" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel3" data-slide-to="1"></li>
          <li data-target="#carousel3" data-slide-to="2"></li>
          <li data-target="#carousel3" data-slide-to="3"></li>
          <li data-target="#carousel3" data-slide-to="4"></li>
          <li data-target="#carousel3" data-slide-to="5"></li>
          <li data-target="#carousel3" data-slide-to="6"></li>
          <li data-target="#carousel3" data-slide-to="7"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/acero-harvest-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-harvest-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-harvest-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-harvest-4.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-harvest-5.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-harvest-6.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-harvest-7.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-harvest-8.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel3" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel3" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">REVEL VET, QUEEN CREEK</p>
        <p class="project-details">Veterinarian in Queen Creek, Arizona.</p>
      </div>

      <div id="carousel10" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel10" data-slide-to="0" class="active"></li>
          <li data-target="#carousel10" data-slide-to="1"></li>
          <li data-target="#carousel10" data-slide-to="2"></li>
          <li data-target="#carousel10" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/RevelVet-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/RevelVet-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/RevelVet-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/RevelVet-4.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel10" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel10" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">ACERO QUEEN CREEK, QUEEN CREEK</p>
        <p class="project-details">Apartment complex in Queen Creek, Arizona.</p>
      </div>

      <div id="carousel4" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel4" data-slide-to="0" class="active"></li>
          <li data-target="#carousel4" data-slide-to="1"></li>
          <li data-target="#carousel4" data-slide-to="2"></li>
          <li data-target="#carousel4" data-slide-to="3"></li>
          <li data-target="#carousel4" data-slide-to="4"></li>
          <li data-target="#carousel4" data-slide-to="5"></li>
          <li data-target="#carousel4" data-slide-to="6"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/acero-queen-creek-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-queen-creek-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-queen-creek-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-queen-creek-4.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-queen-creek-5.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-queen-creek-6.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-queen-creek-7.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel4" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel4" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">DUTCH BROS COFFEE, MESA</p>
        <p class="project-details">Coffee shop in Mesa, Arizona.</p>
      </div>
      
      <img class="img-responsive" src="static/images/dutch-bros.jpg">
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">ACERO EASTMARK, MESA</p>
        <p class="project-details">Apartment complex in Mesa, Arizona.</p>
      </div>

      <div id="carousel5" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel5" data-slide-to="0" class="active"></li>
          <li data-target="#carousel5" data-slide-to="1"></li>
          <li data-target="#carousel5" data-slide-to="2"></li>
          <li data-target="#carousel5" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/acero-eastmark-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-eastmark-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-eastmark-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/acero-eastmark-4.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel5" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel5" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">QT, MESA</p>
        <p class="project-details">Gas station and convenience store in Mesa, Arizona.</p>
      </div>

      <div id="carousel7" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel7" data-slide-to="0" class="active"></li>
          <li data-target="#carousel7" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/QT-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/QT-2.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel7" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel7" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">SHOPPING PLAZA, QUEEN CREEK</p>
        <p class="project-details">Shopping plaza in Queen Creek, Arizona.</p>
      </div>

      <div id="carousel9" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel9" data-slide-to="0" class="active"></li>
          <li data-target="#carousel9" data-slide-to="1"></li>
          <li data-target="#carousel9" data-slide-to="2"></li>
          <li data-target="#carousel9" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/shopping-plaza-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/shopping-plaza-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/shopping-plaza-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/shopping-plaza-4.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel9" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel9" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <div class="horizontal-divider"></div>

    <div class="project">
      <div class="project-description">
        <p class="project-header">ANGIE'S LOBSTER, TEMPE</p>
        <p class="project-details">Fast food restaurant in Tempe, Arizona.</p>
      </div>

      <div id="carousel12" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel12" data-slide-to="0" class="active"></li>
          <li data-target="#carousel12" data-slide-to="1"></li>
          <li data-target="#carousel12" data-slide-to="2"></li>
          <li data-target="#carousel12" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="static/images/angies-1.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/angies-2.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/angies-3.jpg" class="img-responsive">
          </div>

          <div class="item">
            <img src="static/images/angies-4.jpg" class="img-responsive">
          </div>
        </div>

        <a class="carousel-control left" href="#carousel12" data-slide="prev">
          <span class="icon-prev"></span>
        </a>

        <a class="carousel-control right" href="#carousel12" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}