{% extends "layout.html" %}

{% block head %}
  <title>Services - American Eagle Stucco</title>
  <meta name="description" content="Our main services include stucco, eifs, siding, and stone/brick veneer. Give us a call or email and we can start actualizing and personalizing your project today!">
  <link rel="stylesheet" href="static/css/services.css">
{% endblock %}

{% block header_image %}acero-queen-creek-3.jpg{% endblock %}
{% block header_overlay_text %}
  <p>SERVICES</p>
  <p class="services-header-details">From stucco and siding to paneling, we offer a wide variety of services.</p>
{% endblock %}

{% block main %}
  <div class="services">
    <div class="service gray">
      <div class="service-contents">
        <img class="img" src="static/images/eos-1.jpg">

        <div class="text">
          <p class="header">Stucco</p>
          <p class="details">Our speciality is in all things stucco. We offer stucco repair services </p>
          <p class="details">plastering, synthetics, eifs. hello</p>
          <p class="details">hello again</p>
        </div>
      </div>
    </div>

    <div class="service white">
      <div class="service-contents">
        <div class="text">
          <p class="header">Stone and Brick Veneer</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
        </div>

        <img class="img" src="static/images/taco-shop-1.jpg">
      </div>
    </div>

    <div class="service gray">
      <div class="service-contents">
        <img class="img" src="static/images/acero-harvest-3.jpg">
        
        <div class="text">
          <p class="header">Panels</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
        </div>
      </div>
    </div>

    <div class="service white">
      <div class="service-contents">
        <div class="text">
          <p class="header">Other Work</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
        </div>

        <img class="img" src="static/images/acero-harvest-6.jpg">
      </div>
    </div>
  </div>
{% endblock %}