{% extends "layout.html" %}

{% block head %}
  <title>Services - American Eagle Stucco</title>
  <meta name="description" content="Our main services include stucco, EIFS, siding, and stone/brick veneer. Give us a call or email and we can start actualizing and personalizing your project today!">
  <link rel="stylesheet" href="static/css/services.css">
{% endblock %}

{% block header_image %}acero-queen-creek-3.jpg{% endblock %}
{% block header_overlay_text %}
  <p>SERVICES</p>
  <p class="services-header-details">from stucco and EIFS to all things exterior</p>
{% endblock %}

{% block main %}
  <div class="services">
    <div class="service gray">
      <div class="service-contents">
        <img class="img" src="static/images/eos-1.jpg">

        <div class="text">
          <p class="header">Stucco and EIFS</p>
          <p class="details">Stucco is a popular building material due to it's durabililty and longevity. Our specialty is in stucco and EIFS. Although our company only began in 2017, our workforce is experienced and is proud to have a background in the plastering field that goes back multiple generations. We can provide whatever texture ranging from smooth to highly textured finishes and whatever color of choice. </p>
          <p class="details">We also offer stucco repair services. We know that things like cracks may occur in your stucco due to natural causes or a bad previous job, at American Eagle Stucco, we're here to fix those cracks and restore your stucco to that beautiful finish. Please note that cracks over 1/16 of an inch should be fixed as soon as possible since they can allow water and moisture to pass through the walls, which can lead to serious issues like structural damage, rot, and water damage.</p>
          
          <!-- <p class="details">No job is too big or too small for us at American Eagle Stucco, be it a patch all the way up to multistory apartments. Although our company only began in 2017, our workforce is experienced and is proud to have a background in the plastering field that goes back multiple generations.</p>
          <p class="details">Call us for help with your commercial, residential, and mixed-used projects! American Eagle Stucco is your solution to getting the job done right. </p> -->
        </div>
      </div>
    </div>

    <div class="service white">
      <div class="service-contents">
        <div class="text">
          <p class="header">Stone and Brick Veneer</p>
          <p class="details">If you wish to add an aesthetic look to your exterior, stone or brick veneer is the way to go. Typically, brick gives a more clean look while stone adds a more natural appeal. Not only are stone and brick veneer added for decorative purposes, but both materials also add weather, fire, and water resistance to your establishment. They</p>
          <p class="details">At American Eagle Stucco, we understand that each project is different, which is why we highly prioritize customization. Both stone and brick veneer are highly customizable by color, style, thickness, and quantitiy. At the end of the day, our goal is to let you make the choice, and we'll take over the rest.</p>
        </div>

        <img class="img" src="static/images/taco-shop-1.jpg">
      </div>
    </div>

    <div class="service gray">
      <div class="service-contents">
        <img class="img" src="static/images/acero-harvest-3.jpg">
        
        <div class="text">
          <p class="header">Panels</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
          <p class="details">With four generations of experience on various job sites, we've seen it all. Since each job is unique, we have learned to take pride in our high quality of work. As we are licensed, bonded, insured, and OSHA certified, at American Eagle Stucco we are more than qualified to do the job and do it right.</p>
        </div>
      </div>
    </div>

    <div class="service white">
      <div class="service-contents">
        <div class="text">
          <p class="header">Other Work</p>
          <p class="details">Although our specialties are in stucco, eifs, stone/brick veneer, and panels, we offer many more services as well. We do almost any type of siding.</p>
        </div>

        <img class="img" src="static/images/acero-harvest-6.jpg">
      </div>
    </div>
  </div>
{% endblock %}